{% extends 'inc/dashboard.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_javascript %}

{% block custom_css %}
<style>
    th, tr{
        padding: 10px !important;
    }
</style>

{% endblock custom_css %}

{% block title %}Dashboard{% endblock title %}



{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-3 mb-3">
    <h1 class="h3">Orders</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{% url 'products:create-order' %}"  type="button" name="" id="" class="btn btn-primary btn-block">Create Order</a>
    </div>

    
</div>

<div> 


    <div class="mt-2">
        <div class="100">
          <form action="" method="get" id="filter-form">
            <div class="row">
              <div class="col-sm-4">
                <label for="" class="mb-2 fs-5">Filter orders by policy</label>
                    <select class="form-select  change-form" required id="inputGroupSelect04" aria-label="Example select with button addon" name="policy" id="id_policy">
                      <option value="">Select Policy Type</option>
                      <option value="s, S" {% if request.GET.policy == 's, S' %}selected{% endif %}>s, S Policy</option>
                      <option value="T, S" {% if request.GET.policy == 'T, S' %}selected{% endif %}>T, S Policy</option>
                      <option value="R, Q" {% if request.GET.policy == 'R, Q' %}selected{% endif %}>R, Q Policy</option>
                    </select>
      

              </div>

              <div class="col-sm-4">
                  <label for="" class="mb-2 fs-5">Filter orders by product</label>
                    <select class="form-select change-form"  name="product" id="id_product">
                      <option value="">Select Product</option>
                      {% for product in products %}
                          <option value="{{ product.id }}">{{ product }}</option>
                      {% endfor %}
                    </select>
      

              </div>
            </div>

        </form>

        </div>

        <div class="card text-left sections mt-4" id="s-s">
            <div class="card-header bg-white">
              <h5 class="my-2">All product orders</h5>
            </div>
            <div class="card-body p-0">
              <table class="table table-striped m-0 p-0" id="order-table">
                <thead class="text-white">
                  <tr>
                    <th scope="col" class="text-center">Order ID</th>
                    <th scope="col" class="text-center">Product ID</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col">Status</th>
                    <th scope="col">Estimated Time</th>
                    <th scope="col">Created at</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% if not orders %}
                  <tr>
                    <td colspan="7">
                      No order exists
                    </td>
                  </tr>
                  {% endif %}

                  {% for order in orders %}
                  <tr>
                    <th class="text-center">{{ order.id }}</th>
                    <td class="text-center">{{ order.product.product_id }}</td>
                    <td class="text-center">{{ order.quantity }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.estimated_days }} Days</td>
                    <td>{{ order.created_at.date }}</td>
                    <td>
                        <a href="{% url 'products:edit-order' order.id %}" class="text-decoration-none">
                            <i class="material-icons mk-pointer">edit</i>
                        </a>

                        <a href="{% url 'products:delete-order' order.id %}"  class="text-decoration-none" onclick="return confirm('Are you sure you want to delete this order.')">
                            <i class="material-icons mk-pointer text-danger">delete</i>
                        </a>
                    </td>
  
                  </tr>
                  {% endfor %}
                  
                </tbody>
            </table>
              
            </div>
          </div>



          <script>

            $(document).ready(function () {
              let table = new DataTable('#order-table', {
                pageLength: 25,
                autoWidth: false
              });              
              
              $("#id_policy").val('{{request.GET.policy}}');
              $("#id_product").val('{{request.GET.product}}');

              $('#id_product').select2({
                theme: 'bootstrap-5'
              });
              
              // $('#id_product').trigger('change');


              $(".change-form").on('change', function () {
                $("#filter-form").submit();
              })
            })
          </script>
        
 


    </div>
</div>


{% endblock content %}