<nav id="sidebarMenu" class=" col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">

    <div class="position-sticky pt-4">
        <ul class="nav flex-column mt-4">
            
            <li class="nav-item" title="Home">
                <a class="radius-10 nav-link {% if page == 'dashboard' %} active bg-primary text-white{% endif %}"
                    href="{% url 'products:dashboard' %}">
                    <div class="d-flex align-items-center">
                        <span class="material-icons" style="font-size: 20px;">
                            home
                        </span>
                        <span class="mx-2">Dashboard</span>
            
                    </div>
                </a>
            </li>

            <li class="nav-item" title="Home">
                <a class="radius-10 nav-link {% if page == 'products' %} active bg-primary text-white{% endif %}"
                    href="{% url 'products:all-products' %}">
                    <div class="d-flex align-items-center">
                        <span class="material-icons" style="font-size: 20px;">
                            inventory
                        </span>
                        <span class="mx-2">Products</span>
            
                    </div>
                </a>
            </li>


            <li class="nav-item" title="Home">
                <a class="radius-10 nav-link {% if page == 'orders' %} active bg-primary text-white{% endif %}"
                    href="{% url 'products:all-orders' %}">
                    <div class="d-flex align-items-center">
                        <span class="material-icons" style="font-size: 20px;">
                            shopping_bag
                        </span>
                        <span class="mx-2">Orders</span>
            
                    </div>
                </a>
            </li>


            <li class="nav-item" title="Home">
                <a class="radius-10 nav-link {% if page == 'notifications' %} active bg-primary text-white{% endif %}"
                    href="{% url 'products:all-notifications' %}">
                    <div class="d-flex align-items-center">
                        <span class="material-icons" style="font-size: 20px;">
                            notifications
                        </span>
                        <span class="mx-2">
                            Notifications 
                            {% if notifications_count > 0 %}
                                <span class="badge badge-pill bg-danger text-white">{{ notifications_count }}</span>
                            {% endif %}
                        </span>
            
                    </div>
                </a>
            </li>


          


            <!-- <li class="nav-item" title="Profile">
                <a class="radius-10 nav-link {% if page == 'profile' %} active bg-primary text-white{% endif %}"
                    href="#">
                    <div class="d-flex align-items-center">
                        <span class="material-icons" style="font-size: 20px;">
                            person
                        </span>
                        <span class="mx-2">Profile</span>
            
                    </div>
                </a>
            </li> -->
            
        </ul>

 

        <hr class="mx-3">

        <a href="{% url 'logout' %}" title="Logout" class="text-decoration-none" style="width: 100%;">
            <div class="d-grid gap-2 px-3">
                <button class="btn btn-secondary d-flex align-items-center justify-content-center" type="submit">
                    <div class="d-flex align-items-center">
                        <i class="material-icons mx-1">logout</i>
                        Logout
                    </div>
                </button>
            </div>
        </a>
    </div>
</nav>

